{% extends 'base.html.twig' %}

{% block title %}Les Continents{% endblock %}
{% block monTitle %}Liste des continents{% endblock %}

{% block body %}
    {% for continent in continents %}
        <h2 class="pl-3 border-bottom border-secondary "><a href="{{path('afficher_continent',{'id': continent.id})}}" class="text-success">{{continent.libelle}}</a></h2>
        <div class="row">
            {% for animal in continent.animaux %}
                <div class="col-sm-6 pb-4">
                    <div class="row align-items-center">
                        <div class="col-sm-3 text-center m-2">
                            <img src="{{asset('images/'~ animal.image)}}" class="img-fluid pl-4">
                        </div>
                        <div class="col m-4">
                            <h3><a href="{{path('afficher_animal',{'id': animal.id})}} ">{{ animal.nom }}</a></h3>
                            <p> {{ animal.description }} </p>
                            <div>
                                <a href="{{path('afficher_famille',{'id': animal.famille.id})}} " class="btn btn-primary">{{animal.famille.libelle}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
